<!doctype html>
<html xmlns:th="https://thymeleaf.org">    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <title>registration page </title>
  </head>
  <body>
    <h1>Hello, world!</h1>
    
    
    <form th:action="@{/registration}"  method="post" role="form" th:object="${user}">
  <div class="form-group">
    <label for="name">name</label>
    <input th:field="*{name}" type="text" class="form-control" id="name" >
  
  </div>
  <div class="form-group">
    <label for="city">city</label>
    <input  th:field="*{city}" type="city"  id="city">
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


  </body>
</html>